@model nstrWeatherBot_gen2.Models.ApiKeys

<div class="row mb-3">
    <div class="col-auto me-auto">
        <div class="form-text"><i>*</i> - обязательные поля</div>
    </div>
</div>

<form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="mb-3">
            <label asp-for="KeyString" class="form-label">Ключ API<i>*</i></label>
            <input type="text" asp-for="KeyString" class="form-control form-control-sm" required />
            <span class="badge bg-danger" asp-validation-for="KeyString"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>